@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100%;
  width: 100%;
  background: #142142;
}

html{
  cursor: none;
}

.cursor{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.inner{
  border: 1px solid #f7f7f7;
  transition: 250ms ease-out;
}

.outer{
  background: #f7f7f7;
  width: 10px;
  height: 10px;
}

.app
{
  height: 100vh;
  filter: contrast(210%) brightness(100%);
  background: 
	radial-gradient(circle at 11% 92%, rgba(37,59,132,0.37), rgba(34,51,96,1)),
	url("data:image/svg+xml,%3Csvg viewBox='0 0 340 340' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.3' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.app/* resulting css */
{
  height: 100vh;
  filter: contrast(210%) brightness(100%);
  background: 
	radial-gradient(circle at 90% 22%, rgba(175,201,40,0.35), rgba(34,51,96,1)),
  radial-gradient(circle at 10% 20%, rgba(37,59,132,0.10), rgba(34,51,96,1)),
	url("data:image/svg+xml,%3Csvg viewBox='0 10 340 340' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.3' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}