@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100%;
  width: 100%;
  background: #142142;
}

html{
  cursor: none;
}

.cursor{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.inner{
  border: 1px solid #f7f7f7;
  transition: 250ms ease-out;
}

.outer{
  background: #f7f7f7;
  width: 10px;
  height: 10px;
}

.app
{
  height: 100vh;
  filter: contrast(210%) brightness(100%);
  background: 
  radial-gradient(circle at 90% 5%, rgba(175,201,40,0.35), rgba(34,51,96,1)),
	radial-gradient(circle at 11% 92%, rgba(37,59,132,0.37), rgba(34,51,96,1)),
	url("/noise.svg")
}

.app/* resulting css */
{
  height: 100vh;
  filter: contrast(210%) brightness(100%);
  background: 
	radial-gradient(circle at 120% 5%, rgba(175,201,40,0.35), transparent),
  radial-gradient(circle at -30% 120%, rgba(37,59,132,0.30), rgb(11, 25, 68, 0.95)),
  
  url("/noise.svg"),
}